body {
    background: #000000;
    margin: 0;
    color: white;
}

.container {
    text-align: center;
}

.input {
    padding-bottom: 8px;
    border-bottom: 1px solid #666;
    margin-bottom: 20px;
    font-weight: 600;
   
}
.input label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 600;
}
#results {
    font-size: 40px;
    color: red;
}
.input input {
    height: 30px;
    text-align: center;
}
.input button {
    color: white;
    background: #ff5f5f;
    width: 100px;
    height: 35px;
    border-radius: 4px;
    border: none;
}